#Explain about Data Types?
- An attribute that identifies a piece of data and instructs a computer system on how to interpret its value is called a data type.

- Python Data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data. Since everything is an object in Python programming, Python data types are classes and variables are instances (objects) of these classes.

- In programming, data type is an important concept. Variables can store data of different types, and different types can do different things.

- Variables and data types act as the backbone of any programming language.
-  They play a crucial role in storing data and manipulating data,and they are fundamental building blocks for writing effective and efficient code.

 # There are two parts of Data types
#Basic and Advanced
---Basic Data Types---

  1) integer 2)float 3)character 4)boolean 5)complex


---Advance Data Type---

1)list
 2)tuple
  3)strings
     4)set
       5)dictionaries

#Integer(int)
Integer(int) is a data type where we use for the numbers -ထ to 0 to ထ

#example

In [3]:
a=24
b=-12
c=0
d=2*2
e=3*3*3
int=27
age=25-2
year=2025
month=2
z=-10+10
print(a)
print(b)
print(c)
print(d)
print(e)
print(int)
print(age)
print(year)
print(month)
print(z)

24
-12
0
4
27
27
23
2025
2
0

#Float
-  Float is a function or reusable code in the Python programming language that converts values into floating point numbers. Floating point numbers are decimal values or fractional numbers like 133.5, 2897.11, and 3571.213, whereas real numbers like 56, 2, and 33 are called integers.

- Float is used for the decimal numbers from -ve to +ve all decimal numbers.
# example

In [4]:
a=2.34
b=77.77
c=33*2.2
d=38+2.2
e=59.99+0.1
int=3.3
age=23.6
year=25/2
month=2.2
w=12.3*7+5-12
print(a)
print(b)
print(c)
print(d)
print(e)
print(int)
print(age)
print(year)
print(year)
print(month)
print(w)

2.34
77.77
72.60000000000001
40.2
60.09
3.3
23.6
12.5
12.5
2.2
79.10000000000001

#Character(char)
- Character is used for the strings and letters (Alphabets).

- we mention characters in ("-") or ('-').
#example

In [6]:
a="wakeel"
b='smart'
c='teks'
d="academy"
e='hello'
month='feb'
year='2025'
work='8 hours'
wakeel='ahmed'
city='hyd'
print(a)
print(b)
print(c)
print(d)
print(e)
print(month)
print(year)
print(work)
print(wakeel)
print(city)

wakeel
smart
teks
academy
hello
feb
2025
8 hours
ahmed
hyd

#**Boolean**

- Boolean is a binary answering data type.

- Here we have only two outputs which are true and false.

In [10]:
#example
a=(3==3)
b=(5<=4)
c=(wakeel>=wakeel)
d=(2.4>=2.4)
e=(14,12>13,15)
f=(35-4>=35.6)
g=(20>+20)
k=(23<23)
w=(23<23)
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(k)
print(w)

True
False
True
True
(14, False, 15)
False
False
False
False

#**Complex**
- Mix of real numbers & imaginary numbers. imaginary numbers are defined as (j).

In [11]:
#example
a=23j
b=22+5j
c=22*5j
d=34-44j
e=55j+34j
f=99j-88j
year=2025-2020j
month=02j*35
work=25+26J
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(year)
print(month)
print(work)

23j
(22+5j)
110j
(34-44j)
89j
11j
(2025-2020j)
70j
(25+26j)

#**Type** function ()
This type function is going to tell the data type of the particular data.

In [14]:
print(type(10))
print(type(-10))
print(type(18.8))
print(type(wakeel))
print(type(10+10j))
print(type(5j))
print(type(10>10))
print(type(12<12))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'complex'>
<class 'bool'>
<class 'bool'>