# Pytho List
- In Python, lists allow us to store multiple items in a single variable. For example, if you need to store the ages of all the students in a class, you can do this task using a list.
- Lists are similar to arrays (dynamic arrays that allow us to store items of different data types) in other programming languages.
# Create a Python List
We create a list by placing elements inside square brackets [], separated by commas. For example,

In [11]:
# list of integer value
A=[4,5,6,7,8,9]
print(A)
type(A)

[4, 5, 6, 7, 8, 9]

list

In [8]:
# list of float value
B= [5.6,2.6,3.4,4.2]
print(B)
type(B)

[5.6, 2.6, 3.4, 4.2]

list

In [13]:
#list of string value
C=['APPLE','BANANA','CHERRY']
print(C)
type(C)

['APPLE', 'BANANA', 'CHERRY']

list

In [16]:
# list mutable value
D=[7,3,12,'True',3+5j,'teks']
print(D)

[7, 3, 12, 'True', (3+5j), 'teks']

In [19]:
type(A)
type(B)
type(C)
type(D)

list

# List Characteristics
In Python, lists are:

- Ordered - They maintain the order of elements.
- Mutable - Items can be changed after creation.
- Allow duplicates - They can contain duplicate values.

# Access List Elements
- Each element in a list is associated with a number, known as an index.
- The index of first item is 0, the index of second item is 1, and so on.


# Index of list Element
- list-->['Mango','Orange','Banana']
- Index-->  0        1        2
- we use these indices to access items of a list
- Index 2 types
- +Ve [0 to ထ] Left to Right
- -ve [-1 to -ထ] Right to Left

In [20]:
# Example +ve index
Ages = [10,20,30,40,50,60,70,80,90]
Ages[2]

30

# Negative Index
- In Python, a list can also have negative index.
- The index of the last element is -1, the second last element is -2 and so on.

In [22]:
# Example of -ve Index
Ages = [10,20,30,40,50,60,70,80,90]
Ages[-5]

50

# Slicing of a List in Python
If we need to access a portion of a list, we can use the slicing operator, :.

[ starting Index:ending index]
           
          ending index is n-1

In [27]:
# Example
vowel= ['a', 'e', 'i', 'o', 'u']
print("vowel =",vowel )

# get a list with items from index 2 to index 3 (index 4 is not included)
print("vowel[2: 3] =", vowel[2: 3])

# get a list with items from index 2 to index -3 (index -2 is not included)
print("vowel[2: -2] =", vowel[2: -2])

vowel = ['a', 'e', 'i', 'o', 'u']
vowel[2: 3] = ['i']
vowel[2: -2] = ['i']

# Python list method

### 1.Append()
- The append() method in Python is used to add a single item to the end of list. This method modifies the original list and does not return a new list.

In [28]:
# Example
a = [2, 5, 6, 7]

# Use append() to add the element 9
# to the end of the list
a.append(9)
print(a)

[2, 5, 6, 7, 9]

### 2.Extend()
- In Python, extend() method is used to add items from one list to the end of another list. This method modifies the original list by appending all items from the given iterable.
- Using extend() method is easy and efficient way to merge two lists or add multiple elements at once.

In [29]:
# Example1
a = [1, 2, 3]
b = [4, 5]
# Using extend() to add elements of b to a
a.extend(b)
print(a)

[1, 2, 3, 4, 5]

In [30]:
# Example2
a = [1, 2, 3]
b = [4, 5]
# Using extend() to add elements of a to b
b.extend(a)
print(b)

[4, 5, 1, 2, 3]

### 3.Pop()
- The pop() method is used to remove an element from a list at a specified index and return that element.
- If no index is provided, it will remove and return the last element by default.
- This method is particularly useful when we need to manipulate a list dynamically, as it directly modifies the original list.

In [31]:
# Example
a = [10, 20, 30, 40]
# Remove the last element from list
a.pop()
print(a)

[10, 20, 30]

### 4.Remove()
- Python list remove() function removes the first occurrence of a given item from list.
- It make changes to the current list.
- It only takes one argument, element we want to remove and if that element is not present in the list, it gives Value Error.

In [32]:
# Example
a = ['A', 'B', 'C']
a.remove("B")
print(a)

['A', 'C']

### 5.Count()
- The count() method is used to find the number of times a specific element occurs in a list.
- It is very useful in scenarios where we need to perform frequency analysis on the data.

In [33]:
# Example
a = [1, 2, 3, 1, 2, 1, 4]
# count given number in list
c = a.count(1)
print(c)

3

### 6.Insert()
- Python List insert() method inserts an item at a specific index in a list.

In [34]:
# Example
# creating a list
fruit = ["banana","cherry","grape"]
fruit.insert(1,"apple")
print(fruit)

['banana', 'apple', 'cherry', 'grape']

### 7.Index()
- Python list index() method searches for a given element from the start of the list and returns the position of the first occurrence.

In [35]:
# Example
a = ["cat", "dog", "tiger"]
print(a.index("dog"))

1